@page
@model ListModel
@{
    ViewData["Title"] = "Restaurants";
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">


<h1>Re staurants</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group mb-3">
            <input type="search" placeholder="Type in the name of the restaurant" class="form-control" asp-for="SearchTerm"/>
            <div class="input-group-append">
                <button class="btn btn-secondary" type="submit">Search</button>
            </div>
        </div>
    </div>
</form>

@foreach(var restaurant in Model.Restaurants)
{
    <partial name="_Summary" model="restaurant" />
}

<a asp-page="./Edit" class="btn btn-primary">Add a new Restaurant</a>

<div>@Model.Message</div>
