@page
@{
    ViewData["Title"] = "NotFound";
}

<h2>Your restaurant was not found!
    <i class="glyphicon glyphicon search"></i>
    <br />
    <a class="btn btn-outline-secondary" type="submit" asp-page="./List">Go safe friend!</a>
</h2>